body {
  background-color: #d9bb84;
}

h1 {
  font-family: "Potta One", cursive;
  color: #734226;
}

.map {
  width: 60%;
  margin: auto;
  text-align: center;
  position: relative;
  border: 2px solid transparent;
  font-family: "Poppins", sans-serif;
}

.map path {
  fill: #d99f59;
  fill-opacity: 1;
  stroke: #000000;
  stroke-width: 0.28222218;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  transition: fill 0.6s;
}

.map :hover {
  fill: #734226;
  cursor: pointer;
}

.IntroductionModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.IntroductionModal :hover {
  cursor: default;
}
.IntroductionModal-content {
  width: 50%;
  max-height: 80%;
  overflow: scroll;
  background-color: #d9bb84;
}

.IntroductionModal-header,
.IntroductionModal-footer {
  padding: 10px;
}

.IntroductionModal-header,
.IntroductionModal-footer,
.IntroductionModal-body {
  margin: 2% 5% 0 5%;
}

.IntroductionModal-title {
  margin: 0;
  text-align: left;
  position: relative;
}

.IntroductionModal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.IntroductionModal-image {
  width: 100%;
  height: 20%;
  border-radius: 5%;
}

.FlagHeart {
  position: absolute;
  right: 0%;
  font-size: 0.8em;
}

.reactIconB path {
  fill: GREY;
  cursor: pointer;
}

.reactIconB :hover {
  cursor: pointer;
}

.reactIconA path {
  fill: #ffd24c;
  cursor: pointer;
}

.reactIconA :hover {
  fill: #ffd24c;
  cursor: pointer;
}

.reactIconG path {
  fill: RED;
  cursor: pointer;
}

.reactIconG :hover {
  fill: RED;
  cursor: pointer;
}

.boat {
  color: #000000;
}

.boat :hover {
  cursor: pointer;
  animation: shake 0.8s;
  animation-iteration-count: 1;
  /* transform: scale(1.5); */
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}

.pins {
  animation: drop 1s forwards;
}

@keyframes drop {
  20% {
    transform: translate3d(0, 20px, 0) rotate3d(0, 0, 1, 0);
  }
  45% {
    transform: translate3d(0, -20px, 0) rotate3d(0, 0, 1, 0);
  }
}

.Tooltip-Wrapper {
  display: inline-block;
  position: relative;
}

.Tooltip-Tip {
  position: absolute;
  border-radius: 4px;
  color: white;
  background-color: #734226;
  left: 50%;
  transform: translateX(-50%);
  /* padding: 6px; */
  z-index: 100;
  white-space: nowrap;
  font-size: small;
}

.Tooltip-Wrapper :hover {
  cursor: pointer;
}

/* CSS border triangles */
.Tooltip-Tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 6px;
  margin-left: -6px;
}

.Tooltip-Tip.bottom {
  border: solid #734226;
  bottom: -25px;
}

.Tooltip-Tip.bottom:hover {
  cursor: pointer;
}

.Tooltip-Tip.bottom::before {
  bottom: 100%;
  border-bottom-color: #734226;
}
